body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: auto;
}
a { 
    text-decoration: none;
    color: #3c6ca3;
    transition: color 0.3s ease;
}

.container-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    max-width: 1200px; /* Maximale Breite der gesamten Container-Gruppe */
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    flex: 1;
    min-width: 300px;
    max-height: 80vh;
    overflow: auto;
    word-wrap: break-word;
}

h1 {
    text-align: center;
    color: #333333;
    font-size: 24px;
    margin-bottom: 20px;
}

.abbreviation-list {
    display: flex;
    flex-direction: column;
}

.abbreviation-item {
    margin-bottom: 10px;
}
.osi-model {
    width: 300px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.osi-layer {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.osi-layer:last-child {
    border-bottom: none;
}

.osi-layer h2 {
    font-size: 18px;
    margin: 0 0 5px;
    color: #333;
}

.osi-layer p {
    margin: 0;
    color: #666;
}
.dropdown-btn {
    background-color: #3498db;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 18px;
}

.dropdown-btn:hover {
    background-color: #2980b9;
}

.dropdown-content {
    display: none;
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
    color: #333333;
}
